.input-wrapper {
  width: 100%;
  margin: 5px;
  text-align: center;
  padding: 10px;  
}

.input-wrapper-h2 {
  color: #25d76a;
  font-size: 1.9rem;
  font-weight: 600;
}

.input-wrapper .input {
  width: 100%;
  margin-bottom: 20px;
  background-color: #f5f5f7;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 18px;      
  outline: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.input-wrapper .input:focus {
  box-shadow: 0 0 0 3px rgba(37, 215, 106, 0.25);
  background-color: #ffffff;
}
